<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990310333405-cco6tq8u8iag30sl8o2eicfsav6puvrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990310333405-cco6tq8u8iag30sl8o2eicfsav6puvrt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>990310333405-3r5hra2lokc8d2qiphjubicoaid3ub76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnDzKzQMzGmAj9SWucS6wlLjT3MQg6k7o</string>
	<key>GCM_SENDER_ID</key>
	<string>990310333405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todaysfitwear.app</string>
	<key>PROJECT_ID</key>
	<string>tfw-push-78338</string>
	<key>STORAGE_BUCKET</key>
	<string>tfw-push-78338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990310333405:ios:79c473ab3dc380ac719434</string>
</dict>
</plist>